.input {
    width: 100%;
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    border: none;
    box-shadow: inset 0 0 .5rem black;
}

.textArea {
    width: 100%;
    min-height: 15rem;
    border-radius: 2rem;
    padding: 2rem 3rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    border: none;
    box-shadow: inset 0 0 .5rem black;
}

.input:focus {
    outline: none;
}

.submitBtn {
    width: 10rem;
    height: 5rem;
    margin-top: 2rem;
    border-radius: 5rem;
    border: none;
    font-size: 1.5rem;
    background-color: black;
    color: white;
}