/***************************
BASE STYLES
****************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%; /* 1rem = 12px */
  }
}

body {
  font-family: sans-serif;
}